<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bellweather Finder - {{county.name}}</title>
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    </head>
    <body>
        <header>
            <h1>{{county.name}}, {{county.state}} - Bellweather Status</h1>
            <h4>FIPS: {{county.fips}}</h4>
        </header>
        <main>
            This county has predicted <b>{{county.matching_elections}} / {{county.total_elections}}</b> elections since 2000,
        </main>
        <footer>
        </footer>
    </body>
</html>
